# Environment
.env
.env.*
!.env.example
client_secret_*.apps.googleusercontent.com.json
android_client_secret_*.apps.googleusercontent.com.json

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
.expo/
.expo-shared/
web-build/
*.aab
*.apk

# React Native / Expo
android/.gradle/
android/app/build/
ios/build/
*.hprof

# Native dependency folders
ios/Pods/

# OS / editor
.DS_Store
.idea/
.vscode/

# Coverage
coverage/
